@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

:root {
  --color-0: rgb(140, 39, 48);
  --color-1: rgb(242, 185, 80);
  --color-2: rgb(166, 107, 73);
  --color-3: rgb(64, 10, 5);
  --color-4: rgb(64, 10, 5);
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.color-0 {
  color: var(--color-0);
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  border-color: var(--color-4);
  min-height: 250px;
}

.last-row {
  border-bottom: 0px;
}

.footer {
  background-color: #f2f2f2;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: #f2f2f2;
  color: #0f0f0f;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.top-bottom-alignement {
  margin: 10px auto 10px auto;
}

.positions {
  font-weight: 200;
  font-size: 70%;
}

.anchor-color {
  color: var(--color-0);
}

.limit-size {
  max-width: 150px;
}

@media only screen and (max-width: 574px) {
  .limit-size {
    max-width: 100%;
  }
}
